* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background: url('/images/gambar1.jpg') no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.container {
    background: rgba(255, 255, 255, .1);
    width: 80vw;
    max-width: 37.5em;
    border: 2px solid rgba(255, 255, 255, .5);
    border-right: 2px solid rgba(255, 255, 255, .2);
    border-bottom: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(30px);
    padding: 3em 2.5em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 15px;
    box-shadow: 0 1.25em 1.8em rgba(8, 21, 65, 0.25);
}

.search-wrapper{
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 1.25em;
}

.search-wrapper button{
    font-size: 1em;
    background-color: #3d64e6;
    color: #ffff;
    padding: 0.8em 0;
    border: none;
    border-radius: 1.5em;
    cursor: pointer;
}

.search-wrapper input{
    font-size: 1em;
    padding: 0 0.62em;
    border: none;
    border-bottom: 2px solid #c5c8d1;
    border-radius: 1.5em;
    background: rgba(255, 255, 255, .5);
    color: #fff;
    outline: 0;
}

#result {
    margin-top: 1.25em;
}

.container .flag-img {
    display: block;
    width: 45%;
    min-width: 7.5em;
    margin: 1.8em auto 1.2em auto;
}

.container h2{
    font-weight:  600;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 1.8em;
}

.data-wrapper {
    margin-bottom: 1em;
    letter-spacing: 0.3px;
}

.container h4{
    display: inline;
    font-weight: 500;
    color: #fff;
}

.container span{
    color: #fff;
}

.container h3{
    text-align: center;
    font-size: 1.2em;
    font-weight: 400;
    color: #d74545;
}